[DEFAULT]
# Serial port CA350 RS232 / RS485 direct or via USB TTL adapter
SerialPort=/dev/cuau3
# Select RS232 or RS485 protocol
RS485_protocol=False
# Interval in seconds at which data from RS232 will be polled
refresh_interval=10
# automatically enable PC Mode (disable comfosense)
enablePcMode=False
debug=False

[MQTT]
# MQTT broker - IP
MQTTServer=10.144.1.103
# MQTT broker - Port
MQTTPort=1883
 # MQTT broker - keepalive
MQTTKeepalive=45
# MQTT broker - user - default: empty (disabled/no authentication)
MQTTUser=
# MQTT broker - password - default: empty (disabled/no authentication)
MQTTPassword=

[HA]
# Home Assistant send auto discovery for fan
HAEnableAutoDiscoveryFan=True
# Home Assistant send auto discovery for temperatures
HAEnableAutoDiscoverySensors=True
#Todo: HA AD Climate is work in progress
# Work in Progress: Home Assistant send auto discovery for climate
HAEnableAutoDiscoveryClimate=False

