[DEFAULT]
# Serial port CA350 RS232 / RS485 direct or via USB TTL adapter
SerialPort=/dev/cuau3
# Select RS232 or RS485 protocol
RS485_protocol=False
# Interval in seconds at which data from RS232 will be polled
refresh_interval=10
# automatically enable PC Mode (disable comfosense)
enablePcMode=False
debug=False

[DEVICE]
FanOutAbsent=15
FanOutLow=25
FanOutMid=40
FanOutHigh=70
FanInAbsent=15
FanInLow=25
FanInMid=40
FanInHigh=70
SetUpFanLevelsAtStart=True

[MQTT]
# MQTT broker - IP
MQTTServer=10.144.1.103
# MQTT broker - Port
MQTTPort=1883
 # MQTT broker - keepalive
MQTTKeepalive=45
# MQTT broker - user - default: empty (disabled/no authentication)
MQTTUser=
# MQTT broker - password - default: empty (disabled/no authentication)
MQTTPassword=

[HA]
# Home Assistant sensor auto discovery
HAEnableAutoDiscoverySensors=True

# Home Assistant climate auto discovery
HAEnableAutoDiscoveryClimate=True

# Home Assistant Device Discovery
# Unique device ID (change this to be unique if running multiple instances)
HAAutoDiscoveryDeviceId=ca350

# Device name shown in the frontend
HAAutoDiscoveryDeviceName=CA350

# Device manufacturer shown in device info
HAAutoDiscoveryDeviceManufacturer=Zehnder

# Device model shown in device info
HAAutoDiscoveryDeviceModel=ComfoAir 350
